    body {
    margin: auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: #a9c8c3;
    color: black;
    /*background-image: url("Billeder/Baggrund/FullBaggrund.png");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


    /* Progress Bar*/
#progressbar {
        --scrollAmount: 0%;
        background-color: #ffce00;
        width: var(--scrollAmount);
        min-height: 50px;
        height: auto;
        position: fixed;
        background-size: 3%;
        top: 0;
        z-index: 1;
    }
    #truck {
        background-image: url("Billeder/Skraldebil.png");
        position:fixed;
        background-repeat: no-repeat;
        background-size: 3%;
        background-position-x: var(--scrollAmount);
        width: 100%;
        height: 100%;
        top: 0;
        pointer-events: none;
    }

    /* Navigation Bar*/
    .navbackground{
        overflow: visible;
        float: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        bottom: -20%;
        width: 100%;
        height: 50%;
        z-index: 1;
    }
    .navbar{
        height: 100%;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
    }
    .navbar a{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    #navimg{
        width:55%;
    }
    .navBin{
        height: 50%;
        position: relative;
        width: 33%;
        z-index: 2;
        bottom: 85%;
        pointer-events: none;
        display: flex;
    }

    .navBinSelectors{
        pointer-events: auto;
        position: relative;
        width: 15%;
        height: 20%;
        top: 40%;
        left: -50%;
        margin: 5%;
    }

    /* MAIN SCROLLING ELEMENT*/
    /* Main Scrolling ID */
    #scrollBody {
    justify-content: center;
    margin: auto;
    width: 50%;
    z-index: 5;
}

    /* Body Classes */
    .BodyHeader {
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    border-radius: 100px;
    border-color: rgba(0, 0, 0, 0.817);
    border-width: 5px;
    border-style: groove;
    background-color: #ffffff;
    }

    .BodyImg{
    width: 110%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    }

    /* Trash Sorting Category Header*/
    h1 {
        width: 100%;
        margin: 0px auto;
        padding-bottom: 2%;
        padding-top: 2%;
        height: 70px;
        line-height: 70px;
    }

    /* Section Classes*/
    h2 {
        padding-top: 2%;
        width: 100%;
        height: auto;
        line-height: 15px;
    }
    .section {
    margin-bottom:50%;
    margin-top:10%;
    padding-bottom: 10%;
    }   
    .sectionBody {
        height: auto;
        padding-bottom: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: auto;
    font-size: 20px;
}

    #Spil{
        margin-top: 50%;
        margin-bottom: 20%;
    }
    #Trashbag{
        width:100%;
        height:auto;
        background-color: black;
    }

    /* AFFALDS KATEGORI IDS*/
    /* Gruppe 1 */
    #Rest {
    background-color:black;
    color: white;
}
    #Mad {
    background-color: #1fb25a;
}

    /* Gruppe 2 */
    #Pap {
    background-color: #bc9a6a;
}
    #Papir {
    background-color: #0283c4;
}
    #Metal {
    background-color: #566b7c;
}
    #Glas {
    background-color: #60c3ae;
}

    /* Gruppe 3 */
    #Karton {
    background-color: #bc9a6a;
}
    #Plast {
    background-color: #913394;
}

.animBackground{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(
    to top,
    #bcb753 0%,
    #bcb753 25%,
    #a8c7c2 25%,
    #a8c7c2 100%
    );
    z-index: -1000;
    padding-top: 6%;
    pointer-events: none;
}