body {
    margin: auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: white;
    color: black;
    background-image: url("Billeder/Baggrund/FullBaggrund.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}
    #progressbar {
        --scrollAmount: 0%;
        background-color: #008830;
        width: var(--scrollAmount);
        min-height: 10px;
        height: auto;
        position: fixed;
        background-size: 3%;
        top: 0;
    }
    #bil {
        background-image: url("Billeder/bil.png");
        position:fixed;
        background-repeat: no-repeat;
        background-size: 3%;
        background-position-x: var(--scrollAmount);
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        pointer-events: none;
    }
    .navbaground {
        overflow: hidden;
        float: bottom;
        background-image: url("Billeder/Navbar/MurBar.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        bottom: -40%;
        width: 100%;
        height: 50%;
        bottom: -45%;
        transition: bottom 0.5s;
        transition-timing-function: ease-in-out;
    }
    .navbar{
        height: 100%;
        white-space: nowrap;
    }
    .navbar a{
        display: inline-block;
        text-align: center;
    }
    .navbaground:hover{
        bottom: -20%;
    }

    img a{
        max-width: 100%;
        height: 100%;
    }

    .categoriHeader {
        width: 100%;
        margin: 0px auto;
        padding-top: 10%;
        text-align: center;
        height: 70px;
        line-height: 70px;
    }

    .sectionHeader {
        padding-top: 2%;
        width: 100%;
        height: auto;
        line-height: 70px;
    }

#infoBody {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 50%;
    background-color: #ffffff;
    border-radius: 100px;
    border-color: rgba(0, 0, 0, 0.817);
    border-width: 5px;
    border-style: groove;
}

    .BodyHeader {
        height: 100%;
    }

    .BodyText {
        height: auto;
        padding-bottom: 10px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
    }

    .BodyIMG{
        width: contain;
    }