    body {
        margin: auto;
        padding: 0px;
        text-align: center;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: larger;
        background-color: white;
        color: black;
        background-image: url("landskab.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;

    }

    #header {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        text-align: center;
        height: 70px;
        line-height: 70px;
    }

    #rest, #mad, #karton, #plast, #papir, #pap, #glas, #metal, #restmad {
        margin: auto;
        width: 1000px;
        height: auto;
        padding: 100px;
        border-bottom: 5px solid black;
    }


