:root {
  /* Odense Renovation Colors */
  --clr-primary-green: #1a873a;
  --clr-primary-green-variant: #39b54a;
  --clr-primary-yellow: #ffec00;
  --clr-primary-red: #b20215;
  --clr-primary-blue: #4b92d1;
  --clr-primart-purple: #613c74;
  --clr-primary-cyan: #9ccac9;
  --clr-primary-lime: #c3ce1c;
  --clr-primary-orange: #d78300;
  --clr-light: #fff;
  --clr-dark: #212125;
  --clr-gray: #96969a;

  /* Miljoestyrelsen */
  --clr-miljoestyrelsen-green: #1cb158;
  --clr-miljoestyrelsen-brown: #bc9a6a;
  --clr-miljoestyrelsen-blue: #0283c4;
  --clr-miljoestyrelsen-gray: #566b7c;
  --clr-miljoestyrelsen-cyan: #60c3ae;
  --clr-miljoestyrelsen-purple: #913394;
  --clr-miljoestyrelsen-red: #e20f1e;
  --clr-miljoestyrelsen-black: #141414;
}

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
